version: 2

enable-beta-ecosystems: true
updates:
  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "flutter"
      - dependency-name: "flutter_test"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
