name: Build iOS

on:
  push:
  pull_request:
    
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true
    - name: Install FlutterFire CLI
      run: dart pub global activate flutterfire_cli
    - run: flutter pub get
    - name: Cache bundler gems
      uses: actions/cache@v5
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundler
      run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Cache pods
      uses: actions/cache@v5
      with:
        path: ios/Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
        restore-keys: ${{ runner.os }}-pods-
    - run: dart run build_runner build
    - run: dart run slang
    - run: bundle exec flutter build ios --no-codesign
