name: Unit Tests

on:
  push:
  pull_request:
    
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true
    - run: flutter pub get
    - run: dart run build_runner build
    - run: dart run slang
    - run: flutter analyze
    - run: flutter test
